<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<%= ABSPATH %>/stylesheets/app.css">
    <meta name="_csrf" content="<%= _csrf %>">
  </head>

  <body>
    <script type="text/javascript" src="<%= ABSPATH %>/javascripts/vendor.min.js"></script>
    <script type="text/javascript" src="<%= ABSPATH %>/javascripts/main.js"></script>
  </body>
</html>
